<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
<body>
    <h1><%=title%></h1>
    <p><%= content%></p>
    <form method="post" action="/other">
        <p>
            <input type="text" name="msg">
            <input type="submit" value="Click">
        </p>
    </form>
</body>
</html>